<span class="acc" [routerLink]="['/dowload']">
    <img src="../../assets/Fr.png" class="io">
    &nbsp;&nbsp;Accueil
</span>

<div class="container">
    <img src="../../assets/imgg.png" class="icon">
    <div class="form-container">
        <img src="../../assets/ch.png" class="ico">

        <h5>
            Formulaire d’inscription bien soumis!
        </h5>
        <p> Veuillez verifier votre boite email pour obtenir

            vos identifiants afin de vous connectez a votre
            atelier
        <p>
        <div class="foote">
            <p> 
                &nbsp;&nbsp;
                <a href="../../assets/EXE/SurMesure.apk" download>
                    <img src="../../assets/cl.png" alt="Télécharger l'application"> 
                    &nbsp;TELECHARGER &nbsp; 
                </a>
            </p>
        </div>

        <footer>
            <p> <img src="../../assets/c.png" class="ion">
                Copyrights 2024 | ProgKIT  </p>
        </footer>
    </div>
</div>